@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: yellow;
}
.wrapper {
  width: 605px;
  background: black;
  color: white;
  border-radius: 20px;
  padding: 30px 30px 25px;
}
.wrapper header {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.wrapper .content {
  margin: 35px 0;
}
.wrapper .quote-area {
  display: flex;
  justify-content: center;
}
.quote-area i {
  font-size: 15px;
}
.quote-area i:first-child {
  margin: 3px 10px 0 0;
}
.quote-area i:last-child {
  display: flex;
  align-items: flex-end;
  margin: 0 0 3px 10px;
}
.quote-area .quote {
  font-size: 22px;
  text-align: center;
  word-break: break-all;
}
.content .author {
  display: flex;
  margin-top: 20px;
  font-style: italic;
  justify-content: flex-end;
}
.author span:first-child {
  margin: -7px 5px 0 0;
  font-family: monospace;
}
.wrapper .buttons {
  border-top: 1px solid #ccc;
}
button .loading {
  opacity: 0.8;
  pointer-events: none;
}
.author .strip {
  display: flex;
  position: relative;
  top: 5px;
}
.buttons .features {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}
.features ul {
  display: flex;
}
.features ul li {
  list-style: none;
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  border: 2px solid yellow;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.features ul li:hover {
  color: black;
  background-color: yellow;
}
.features button {
  border: none;
  outline: none;
  background: yellow;
  border-radius: 20px;
  padding: 9px 19px;
  color: black;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
}
